.header {
  display: block;
  top: 0px;
  position: fixed;
  width: 100%;
  min-height: 80px;
  font-size: 1.5rem;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  text-shadow: 2px 2px 2px;
  color: white;
  align-items: center;
  z-index: 11;
}

.header nav {
  margin-right: 15px;
}

