.navbar {
  top: 80px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  height: 90vh;
  background-color: white;
  grid-template-rows: auto 1fr auto;
  box-shadow: hsl(360, 67%, 44%);
  transition: all 0.3s linear;
  z-index: 10;
}
