.navbar {
  top: 80px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 20rem;
  width: fit-content;
  height: 90vh;
  background-color: cornflowerblue;
  grid-template-rows: auto 1fr auto;
  box-shadow: 5px 7px 10px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  z-index: 10;
}

.fas {
  margin-right: 10px;
}
