form {
  position: absolute;
  margin-top: 1.5rem;
  min-height: 20vh;
  min-width: 30vw;
  top: 80px;
  left: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  border: 3px solid white;
  border-radius: 10px;
}

form input,
form label,
form select {
  min-height: 20px;
  margin: 5px 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
