body{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
}
.nav-bar{
    margin-right: 10px;
    width: 100px;
    transition: 0.3s ease-in-out;
    position: relative;
}
.main-body{
    width: 90%;
    transition: 0.3s ease-in-out;
    position: relative;
}
.button{
    width: fit-content;
    height: fit-content;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: orange;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    margin-top: 5px;
    cursor: pointer;
    user-select: none;
}
.data-field{
    display: flex;
    background-color: aliceblue;
}
.data-field div {
    width: 150px;
    height: 50px;
}
#data-form{
    display: none;
    flex-direction: column;
    width: 300px;
}

#nav-bar-button{
    margin-right: 10px;
    font-size: 30px;
    color: orange;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
